<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <style>
      [wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
          display: none;
      }

      [wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
          display: none;
      }

      [wire\:offline] {
          display: none;
      }

      [wire\:dirty]:not(textarea):not(input):not(select) {
          display: none;
      }

      [x-cloak] {
          display: none;
      }
  </style>
</head>

<body class="bg-gray-100">
<div class="p-4 ">
  <%= yield %>
</div>
</body>

<script src="/livewire.js?id=<%= SecureRandom.uuid %>" data-csrf="<%= SecureRandom.uuid %>" data-uri="/livewire/update" data-navigate-once="true"></script>

</html>
